dataFactory/pipeline/copy_all_tables.json
{
	"name": "copy_all_tables",
	"properties": {
		"activities": [
			{
				"name": "Look up all tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MySqlSource",
						"query": "SELECT \n    TABLE_SCHEMA AS SchemaName, \n    TABLE_NAME AS TableName \nFROM \n    INFORMATION_SCHEMA.TABLES\nWHERE TABLE_SCHEMA LIKE \"mavenmovies\" \n\tAND TABLE_NAME NOT LIKE \"actor_info\"\n    AND TABLE_NAME NOT LIKE \"customer_list\"\n    AND TABLE_NAME NOT LIKE \"film_list\"\n    AND TABLE_NAME NOT LIKE \"nicer_but_slower_film_list\"\n    AND TABLE_NAME NOT LIKE \"sales_by_film_category\"\n    AND TABLE_NAME NOT LIKE \"actor_info\"\n    AND TABLE_NAME NOT LIKE \"sales_by_store\"\n    AND TABLE_NAME NOT LIKE \"staff_list\";"
					},
					"dataset": {
						"referenceName": "MySqlTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Schema Table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Look up all tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Look up all tables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy Each Table",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "MySqlSource",
									"query": {
										"value": "@{concat('SELECT * FROM ', item().SchemaName, '.', item().TableName)}",
										"type": "Expression"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "MySqlTable1",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Parquet1",
									"type": "DatasetReference",
									"parameters": {
										"schemaname": {
											"value": "@item().SchemaName",
											"type": "Expression"
										},
										"tablename": {
											"value": "@item().TableName",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}